{% if inscrits is defined %}
    <div class="col-md-10 col-md-offset-1">
        <div class="row course">
            {% include 'CalendarBundle:Common:course/header_course.html.twig' %}
        </div>

        <div class="row">
            {% include 'InscriptionBundle:Common:inscrit/table_liste_inscrit.html.twig' %}
        </div>
    </div>
{% else %}
    <div class="col-md-3">
        <div class="step-number inactive">
            2
        </div>
    </div>

    <div class="col-md-7">
        <div class="row step-text-inactive">
            <h2>Affichage des inscrits</h2>
            <p class="lead">Les inscrits s'affichent automatiquement après la sélection d'une course... (Patientez ;)</p>
        </div>
    </div>
{% endif %}
