{% extends '::base.html.twig' %}

{% block title %}
    {% include '::Navbar/title.html.twig' with {'title': 'À propos', 'subtitle': 'Les informations générale sur le site'} %}
{% endblock %}

{% block content %}
<div class="col-md-4">
	<div class="box">
		<div class="box-icon">
			<span class="fa fa-4x fa-code"></span>
		</div>
		<div class="text-center">
			<h2>Outils</h2>

			<p>
				<b>Bootstrap</b><br/>Le framework HTML/CSS de Twitter permettant de réaliser des sites Internet "responsive"<br/><br/>
				<b>Symfony</b><br/>Le site utilise le framework symfony.
			</p>

		</div>
	</div>
</div>

<div class="col-md-4">
	<div class="box">
		<div class="box-icon">
			<span class="fa fa-4x fa-user"></span>
		</div>
		<div class="text-center">
			<h2 class="">Développeur</h2>

			<p>
				<b>Quentin GUILLOU</b><br/>Etudiant en Master Informatique<br/>Licencié au club de Quimper Orientation Coatarmor 29<br/><br/>
				<b>Autres projets</b><br/>Site Internet de la semaine fédérale de course d\'orientation 2016 en Bretagne<br/><br/>
			</p>

		</div>
	</div>
</div>

<div class="col-md-4">
	<div class="box">
		<div class="box-icon">
			<span class="fa fa-4x fa-key"></span>
		</div>
		<div class="text-center">
			<h2>Confidentialité</h2>

			<p>
				<b>Données</b><br/>Les données que vous renseignez sont uniquement utilisées par le site et seulement pour vous offrir des fonctions supplémentaires.<br/><br/>
				<b>Cookies</b><br/>Uniquement pour mémorisé la connexion.
			</p>

		</div>
	</div>
</div>
{% endblock %}
