{% extends '::base.html.twig' %}

{% block content %}

  {% include '::Message/message.html.twig' %}

  <div class="col-md-8">
    <h1>&Agrave; la une !</h1>
    <p class="lead">
      Retrouvez toute l'actualité de Quimper Orientation Coatarmor 29.
    </p>
  </div>
{% endblock %}
