{% extends '::base.html.twig' %}

{% block title %}
    {% include '::Navbar/title.html.twig' with {'title': 'À la une !', 'subtitle': "Retrouvez toute l'actualité de Quimper Orientation Coatarmor 29"} %}
{% endblock %}

{% block content %}
<div class="col-md-9">
    {% include '::Message/message.html.twig' %}
</div>
<div class="col-md-3">
    {% include 'CalendarBundle:Calendar:partials/responsive_calendar.html.twig' %}
</div>
{% endblock %}
