<div class="col-md-5 hidden-tablet">
  <h3>Être administrateur c'est ...</h3>
  <ul class="text-list">
    <li>Faire vivre et dynamiser le site</li>
    <li>Créer et modifier le contenu du site</li>
    <li>Répondre aux demandes des utilisateurs</li>
  </ul>

  <h3>Des problèmes ? Des suggestions ?</h3>
  <p>
    Si vous rencontrez des problèmes avec certaines fonctionnalités du site, contactez le développeur Quentin GUILLOU.
    <br/>
    Les suggestions d'améliorations sont également les bienvenues, afin de vous simplifier votre utilisation du site.
  </p>
</div>
