{% extends '@PiCRUD/items/item_default.html.twig' %}

{% block item_link %}<a href="{{ 'files/' ~ entity.file.fileName }}" class="btn btn-primary stretched-link">Télécharger la carte</a>{% endblock %}
