{% extends 'base.html.twig' %}

{% block content_body %}
<div class="row py-4">
    <div class="col-12 col-lg-10 offset-lg-1">
        <h1>Les parcours permanents</h1>

        <div class="row">
            {% for entity in entities %}
                {% include 'map/item.html.twig' with {'map': entity} %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
