{% extends 'base.html.twig' %}

{% block body %}
<h1>L'école de CO</h1>
<h2>Présentation</h2>
<p>Le club de Course d'Orientation du Quimper Orientation poursuit son développement au travers de l’École d'Orientation. Les samedis matin, de 10h à 12h, des séances spécifiques et adaptées au niveau des participants sont mises en œuvre sur les terrains adaptés de la ville de Quimper.</p>

<h2>Principe</h2>
<p>
	Acquérir les fondamentaux de l'orientation,
	</br>Apprentissage de la lecture de la carte,
	</br>Apprentissage du milieu naturel,
	</br>Apprentissage de l'autonomie,
	</br>Développement des capacités physiques,
	</br>Bonne humeur.
</p>

<h2>Fonctionnement</h2>
<p>Un calendrier est mis en ligne sur le site du Quimper orientation afin d'informer des différentes manuifestations à venir et de l'école de Cours d'Orientation.	En complément, toutes les semaines, une lettre d'information est envoyée à tous les adhérents afin de leur rappeler les rendez-vous, lieux et thème des prochains rendez-vous. Chaque adhérent s'inscrit ensuite de façon autonome sur le site avant le vendredi soir afin de permettre aux différents organisateurs de gérer convenablement la séance.</p>


<h2>Matériel à prévoir</h2><p>Une paire de chaussures à semelles crantées (type trail) est nécessaire ou une bonne paire de chaussures de jogging crantées pour éviter les glissades.
</br>Une montre : indispensable !
</br>Une tenue de sport avec un bas long (pantalon de jogging ou collant de running, pas de short), un coupe vent / pluie, un pull ou polaire selon météo.</p>


<h2>L'encadrement</h2><p>Julien Le Borgne, Moniteur BF2 de Course d'orientation
</br>Yannick Guillou, Animateur BF1 de Course d'Orientation
</br>Jean François Urvoy, Animateur BF1 de Course d'Orientation
</br>Philippe Boulestreau, Animateur BF1 de Course d'Orientation
</br>Sébastien Pécourt, Animateur BF1 de Course d'Orientation</p>
{% endblock %}
