{% extends 'base.html.twig' %}

{% block body %}

<div class="ss_titre">Présentation du club</div><div class ="Texte">Le club "Coatarmor 29" est créé en 1987 à la Mairie d'Argol pour combler une lacune départementale dans le domaine de la course d'orientation.
</br>
</br>
En 1987, la Course d'orientation n'existait pratiquement pas en Finistère. Les clubs créés au début des années 80 étaient en sommeil, faute de pratiquant. Seule l'Ecole Navale pratiquait occasionnellement ce sport, dans le cadre militaire, sur une ancienne carte de la forêt du Cranou. Aucune école secondaire ne le proposait dans leur enseignement.
</br>
</br>
</br>Sous l'impulsion de Joseph Le Fouest, président fondateur et de son épouse Marie Thérèse, trésorière, "Coatarmor 29" a entrepris de rattraper le retard et y est arrivé, puisqu'en 1994, il était le 1er club breton au vu des résultats sportifs. Les nombreuses cartes élaborées dans les premières années, permirent l'enseignement de la Course d'Orientation dans les Lycées et les Collèges et d'obtenir de très bons résultats dans les différents championnats UGSEL et UNSS.
</br>
</br>Au plan sportif, il faut surtout signaler son classement en Coupe de France, 1er club breton, six années consécutives de 1994 à 1999 et également la première place, en interrégional, trois années consécutives, de 1997 à 1999.
</br>
</br>Le club se dote d'un maillot en 1999.
</br>
</br>La cartothèque départementale est à cette époque déjà bien fournie grâce au dynamisme de son principal cartographe, le président fondateur.
</br>
</br>L'Assemble Générale 2001 décide le transfert du siège social à Quimper dans le but d'élargir l'audience et d'augmenter le nombre de licenciés. "Coatarmor 29" devient "Coatarmor 29 Quimper". En parallèle, un nouveau club a vu le jour à Brest dans le but de créer un comité départemental (janvier 2003).
</br>
</br>Claudine Sinou est élue présidente fin 2003 Sylvie Le Borgne devient trésorière. C'est la conséquence du caractère familial de la Course d'Orientation.
</br>
</br>En janvier 2009 "Coatarmor 29" devient "Quimper Orientation Coatarmor". Mettre le nom de la ville en tête devient une nécessité car Coatarmor a une consonance trop proche de celle d'un département breton et il nous faut bien afficher notre localisation à l'occasion de compétitions hors de Bretagne. "Coatarmor" s'estompe mais le bois (ar c'hoat) et la mer (ar mor) restent quand même ... Courir au Nevet ou à Telgruc...
</br>
</br>La même année, à l'occasion d'une montée en 1ère division nationale, le club décide de se doter d'un nouveau maillot qui sera dessiné par Ph.Boulestreau.
</br>
</br>Désormais le premier objectif du club "Quimper Orientation Coatarmor" est de se faire connaître de la population quimpéroise et de recruter sur place de nouveaux adhérents. De nombreuses cartes d'entrainement sont réalisées sur l'agglomération quimpéroise et sont utilisée par l'école de CO le samedi matin.  L'école de CO est une condition pour accéder en 1ère division Nationale. La liste des cartes est consultable dans la rubrique  "Parcours permanent" du site.
</br>
</br>Joël Le Coz prend les rênes du club au cours de l'Assemblée Générale 2011.
</br>
</br>Depuis maintenant plus de 10 ans, le club est présent et représenté dans toutes les manifestations majeures de course d'orientation, compétitions telles que le Championnat de France des Clubs, ainsi que les rendez-vous estivaux tel que la semaine fédérale.
</br>
</br>Au fil des années le club se situe autour de la 30ème place du classement national des clubs.
</br>
</br>En 2013, à l'issue des Championnat de France des Clubs, le Quimper Orientation Coatarmor rejoint l'élite nationale de la Course d'Orientation en accédant la Division 1.
</br>
</br></div><div class="ss_titre">Les acteurs du club</div><div class ="Texte">A la fin de l'année 2013, le club compte une centaine d'adhérents ce qui en fait, en nombre, le premier club breton de Course d'Orientation.
</br>
</br>Le Bureau du Quimper Orientation est ainsi constitué :
</br>- Joël Le Coz, président
</br>- Jean-François Urvoy, trésorié
</br>- Sébastien Pécourt, secrétaire
</br>
</br>Le comité directeur du Quimper Orientation est constitué de :
</br>- 
</br>
</br>Et tous les acteurs ponctuels et réguliers d'un club vivant et dynamique.</div>

{% endblock %}