{% extends 'base.html.twig' %}

{% block body %}
<div class="col-md-12">
  <h1>Les paramètres</h1>
</div>
<div class="col-md-3">
  <div class="list-group nav nav-tabs">
    <a href="#profil" class="list-group-item" data-toggle="tab" aria-expanded="true">
      <i class="fa fa-user"></i> Mon profil
    </a>
    <a href="#compte" class="list-group-item" data-toggle="tab" aria-expanded="true">
      <i class="fa fa-user-plus"></i> Mon compte
    </a>
    <a href="#notification" class="list-group-item" data-toggle="tab" aria-expanded="true">
      <i class="fa fa-bell"></i> Les notifications
    </a>
    <a href="#option" class="list-group-item" data-toggle="tab" aria-expanded="true">
      <i class="fa fa-check-square-o"></i> Les options
    </a>
  </div>
</div>

<div class="col-md-1">
</div>

<div class="col-md-7 tab-content">

  {% include 'alerts/alerts.form_validation.html.twig' %}

  <div class="tab-pane fade in active" id="profil">
    <h2>Modification du profil</h2>
    <p class="lead">N'oubliez pas d'enregistrer vos modifications !</p>
    {% include 'forms/forms.user.html.twig' %}
  </div>


  <div class="tab-pane fade" id="compte">
    {% include 'user/account/account.html.twig' %}
  </div>


  <div class="tab-pane fade" id="notification">
    {% include 'user/account/notification.html.twig' %}
  </div>


  <div class="tab-pane fade" id="option">
    {% include 'user/account/option.html.twig' %}
  </div>
</div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
