{% extends '::base.html.twig' %}

{% block title %}
    {% include '::Navbar/title.html.twig' with {'title': "Récupération des fichiers d'inscrits", 'subtitle': "Vous pouvez récupérer les fichiers des inscrits sous différents formats"} %}
{% endblock %}


{% block content %}
<div class="row">
    {% include 'InscriptionBundle:Common:course/course.html.twig' %}
</div>

<div class="row-divider"></div>

<div id="type" class="row">
    {% include 'InscriptionBundle:Common:partials/type.html.twig' %}
</div>
{% endblock%}


{% block javascript %}
{{ parent() }}
<script type='text/javascript'>
var course, type;

function attachEventOnDropdown() {
    $(".selLabel").click(function () {
        $(this).parent().toggleClass('active');
    });

    $(".dropdown-custom .dropdown-custom-list li").click(function() {
        $('.selLabel').text($(this).text());
        $('.dropdown-custom input').val($(this).attr('data-value'));
        $('.dropdown-custom').removeClass('active');
        $('.selected-item p span').text($('.selLabel').text());
        changeType();
    });

}

function changeCourse() {
    course = document.getElementById("course_select_nom").options[document.getElementById("course_select_nom").selectedIndex].value;

    var url = "{{ path('inscription_post_course', {'data': 'type'})}}";

    $.ajax({
        url: url,
        success: function(result) {
            $("#type").html(result);
            attachEventOnDropdown();
        }
    });
}

function changeType() {
    var type = document.getElementById("course_select_type").value;

    var url = "{{ path('inscription_download', {'type' : 'type', 'id': 'id'})}}";
    url = url.replace('type', type);
    url = url.replace('id', course);

    $.ajax({
        url: url,
        success: function(result) {
        }
    });
}

$(document).ready(function() {
    document.getElementById('course_select_nom').addEventListener("change", changeCourse);
});

</script>
{% endblock %}
