{% extends '::base.html.twig' %}

{% block content %}

  {% include '::Message/message.html.twig' %}

  <div class="col-md-8">
    <h1>Administration des actualités</h1>
    <p class="lead">
      Ajout, modification et suppression.
    </p>
  </div>

  <div class="col-md-12">
      <button id="add" type="button" class="btn btn-primary">Ajout d'une actualité</button>
      <div class="row-divider"></div>
  </div>

  <div class="col-md-12">
      <table class="table table-striped table-hover">
          <thead>
              <tr>
                  <th>#</th>
                  <th>Date de publication</th>
                  <th>Titre</th>
                  <th>Utilisateur</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody id="liste-actualite">
              {% include 'AdminBundle:Actualite:table_actualite.html.twig' %}
          </tbody>
      </table>
  </div>

  <div class="modal fade" id="ModalEditActualite" tabindex="-1" role="dialog" aria-labelledby="ModalEditActualiteTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content" id="form-actualite">

      </div>
    </div>
  </div>

{% endblock %}

{% block javascript %}
  {{ parent() }}

  <script type='text/javascript'>
      function register(id) {
        $.ajax({
          url: "{{ path('actualite_add') }}",
          data: {
            'value': $('#add').serializeArray()
          },
          success: function(result) {
            $("#liste-actualite").html(result);
          }
        });
      }

    function unregister(id) {
      $.ajax({
        url: "{{ path('actualite_delete') }}",
        data: {
          'id': id
        },
        success: function(result) {
          $("#liste-actualite").html(result);
        }
      });
    }

    function form(id = 0) {
        $.ajax({
          url: "{{ path('actualite_form') }}",
          data: {
            'id': id
          },
          success: function(result) {
            $("#form-actualite").html(result);
            $("#ModalEditActualite").modal('show');
          }
        });
    }

    window.onload = function() {
        document.getElementById("add").addEventListener("click", function(){
            form(0);
        }, false);
    }

  </script>
{% endblock %}
