<div class="modal fade" id="modal-confirm-delete" tabindex="-1" role="dialog" aria-labelledby="modal-confirm-delete-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-confirm-delete-label">Êtes-vous sûr de vouloir supprimer l'entité {{ label }} ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Cette action est irréversible.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link text-muted" data-dismiss="modal">Annuler</button>
        <a type="button" class="btn btn-danger">Confirmer la suppression</a>
      </div>
    </div>
  </div>
</div>
