<!--
alerts.form_validation.html.twig
A bootstrap alert component
Display success or/and error message from form validation
!-->

{% for successMessage in app.session.flashbag.get('success') %}
<div class="alert alert-dismissible alert-success">
  {{ successMessage }}
</div>
{% endfor %}

{% for errorMessage in app.session.flashbag.get('error') %}
<div class="alert alert-dismissible alert-danger">
  {{ errorMessage }}
</div>
{% endfor %}
