<div id="messages">
  {% for successMessage in app.session.flashbag.get('success') %}
  <div class="notice notice-success">
    {{ successMessage }}
  </div>
  {% endfor %}

  {% for errorMessage in app.session.flashbag.get('error') %}
  <div class="notice notice-danger">
    {{ errorMessage }}
  </div>
  {% endfor %}
</div>
