@import "optionals/variables.scss";
@import "~bootstrap/scss/bootstrap";
@import "dark-theme.scss";

/** CHECKBOX */
input[type="checkbox"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 3.5em;
	height: 1.5em;
	background: $gray-700;
	border-radius: 3em;
	position: relative;
	cursor: pointer;
	outline: none;
    vertical-align: bottom;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

input[type="checkbox"]:checked{
	background: $primary;
}

input[type="checkbox"]:after{
	position: absolute;
	content: "";
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	background: #fff;
	-webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
	        box-shadow: 0 0 .25em rgba(0,0,0,.3);
	-webkit-transform: scale(.7);
	        transform: scale(.7);
	left: 0;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

input[type="checkbox"]:checked:after{
	left: calc(100% - 1.5em);
}

/** ALERT */
.alert {
    padding: 15px;
    background-color: $gray-100;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.alert-success {
    border-color: $success;
}
.alert-success>strong {
    color: $success;
}
.alert-info {
    border-color: $info;
}
.alert-info>strong {
    color: $info;
}
.alert-warning {
    border-color: $warning;
}
.alert-warning>strong {
    color: $warning;
}
.alert-danger {
    border-color: $danger;
}
.alert-danger>strong {
    color: $danger;
}

/** Navbar administration */

nav.sidebar .navbar-nav .open .dropdown-menu {
	position: static;
	float: none;
	width: auto;
	margin-top: 0;
	background-color: transparent;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
    padding: 0 0px 0 0px;
}

navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #777;
}

nav.sidebar{
	width: 200px;
	height: 100%;
    margin-left:-168px;
	float: left;
	z-index: 8000;
	margin-bottom: 0px;
}

nav.sidebar li {
    width: 100%;
}

nav.sidebar:hover{
    margin-left: -20px;
}

div > nav > div > ul{
    width:198px;
}

nav.sidebar, .main{
    -webkit-transition: margin 300ms ease-out;
    -moz-transition: margin 300ms ease-out;
    -o-transition: margin 300ms ease-out;
    transition: margin 300ms ease-out;
}

header:hover > span::before {
    margin-right: 3px;
    content: '<';
}

header:hover > span::after {
    margin-left: 3px;
    content: '>';
}
