@import "optionals/variables.scss";
@import "~bootstrap/scss/bootstrap";
@import "carousel.scss";
@import "dark-theme.scss";

.admin-link {
    position: relative;
}

/** OPACITY */
.opacity-20 {
    opacity: 0.2;
}

/** Z-INDEX */
.z-index-10 {
    z-index: 10;
}

/** NAVBAR */
li.dropdown:hover > .dropdown-menu {
    display: block;
}

/** CHECKBOX */
input[type="checkbox"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 3.5em;
	height: 1.5em;
	background: $gray-700;
	border-radius: 3em;
	position: relative;
	cursor: pointer;
	outline: none;
    vertical-align: bottom;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

input[type="checkbox"]:checked{
	background: $primary;
}

input[type="checkbox"]:after{
	position: absolute;
	content: "";
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	background: #fff;
	-webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
	        box-shadow: 0 0 .25em rgba(0,0,0,.3);
	-webkit-transform: scale(.7);
	        transform: scale(.7);
	left: 0;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

input[type="checkbox"]:checked:after{
	left: calc(100% - 1.5em);
}

/** ALERT */
.alert {
    padding: 15px;
    background-color: $gray-100;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.alert-success {
    border-color: $success;
}
.alert-success>strong {
    color: $success;
}
.alert-info {
    border-color: $info;
}
.alert-info>strong {
    color: $info;
}
.alert-warning {
    border-color: $warning;
}
.alert-warning>strong {
    color: $warning;
}
.alert-danger {
    border-color: $danger;
}
.alert-danger>strong {
    color: $danger;
}
