@mixin dark-theme {
    body,
    .card,
    .breadcrumb,
    .modal-content,
    .table,
    .box,
    .close,
    .bg-white,
    .page-item:not(.active) .page-link {
        background-color: $gray-900 !important;
        color: white !important;
    }

    .table th, .table td {
        border-color: $gray-800 !important;
    }

    .card,
    .modal-content {
        border: 1px solid white;
    }

    .table-secondary, .table-secondary > td, .table-secondary > th {
        background-color: darken($secondary, 15%) !important;
    }

    .text-dark,
    a.text-dark:hover, a.text-dark:focus {
        color: white!important;
    }
}

@media (prefers-color-scheme: dark) {
    @include dark-theme;
}

.dark-theme {
    @include dark-theme;
    background-color: $gray-900 !important;
    color: white !important;
}
