.hidden {
  display: none;
  visibility: hidden;
}

.visible-phone {
  display: none !important;
}

.visible-tablet {
  display: none !important;
}

.hidden-desktop {
  display: none !important;
}

.visible-desktop {
  display: inherit !important;
}

@media (min-width: 768px) and (max-width: 979px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important ;
  }
  .visible-tablet {
    display: inherit !important;
  }
  .hidden-tablet {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
  .visible-phone {
    display: inherit !important;
  }
  .hidden-phone {
    display: none !important;
  }

  .timeline-centered:before, .timeline-centered:after {
    content: none;
  }

  .timeline-centered:before {
    position: absolute;
    display: none;
    width: 2px;
    background: #ff00ff;/*timeline-color*/
    left: 15%;
    top: 20px;
    bottom: 20px;
    margin-left: -4px;
  }

  .timeline-centered .timeline-entry {
    margin-left: 0%;
  }

  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
    margin-left: 15px;
  }

  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
    content: '';
    display: none;
  }
}
