h3 {
  margin-top: 15px;
}

.navbar-content {
  line-height: 50px;
  color: white;
  text-align: center;
}

.footer-page {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 0.5em;
  color: gray;
}

.footer-page a {
  color: gray;
}

.information-account h3 {
  margin-top: 30px;
}

.text-list li {
  list-style: none;
}

.row-divider {
  height: 2em;
}
