h1, h3 {
  margin-top: 15px;
  margin-bottom: 5px;
}

.navbar-content {
  line-height: 50px;
  color: white;
  text-align: center;
}

.footer-page {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 0.5em;
  color: gray;
}

.footer-page a {
  color: gray;
}

.information-account h3 {
  margin-top: 30px;
}

.text-list li {
  list-style: none;
}

.row-divider {
  height: 1.2em;
}

.box {
  border-radius: 3px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 10px 25px;
  display: block;
  min-height: 324px;
  margin-top: 60px;
}

.box .btn {
  margin-left: 0;
  width: 100%;
}

.box-icon {
  background-color: #68b211;
  border-radius: 50%;
  display: table;
  height: 100px;
  margin: 0 auto;
  width: 100px;
  margin-top: -61px;
}

.box-icon-actu {
  background-color: #68b211;
  border: solid 2px #68b211;
  border-radius: 50%;
  display: table;
  height: 60px;
  margin: 0 auto;
  width: 60px;
  margin-top: -41px;
}

.box-icon-actu span {
  color: white;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.box-icon span {
  color: #fff;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.nopadding {
  padding: 0;
}

.nomargintop {
  margin-top: 0;
}

.btn{transition:all 0.8s;-o-transition:all 0.8s;-moz-transition:all 0.8s;-webkit-transition:all 0.8s;border-radius:0px;margin-top:10px}
.btn-rounded{border-radius:50px}
.btn-round-tosquare:hover{border-radius:0px}
.btn-square-toround:hover{border-radius:50px}
.btn-bordered-primary{color:#428BCA;background:#FFFFFF;border:2px solid #428BCA}
.btn-bordered-primary:hover{color:#FFFFFF;background:#428BCA;border:2px solid #FFFFFF}

.btn-bordered-success{color:#5CB85C;background:#FFFFFF;border:2px solid #5CB85C}
.btn-bordered-success:hover{color:#FFFFFF;background:#5CB85C;border:2px solid #FFFFFF}

.btn-bordered-info{color:#5BC0DE;background:#FFFFFF;border:2px solid #5BC0DE}
.btn-bordered-info:hover{color:#FFFFFF;background:#5BC0DE;border:2px solid #FFFFFF}

.btn-bordered-warning{color:#F0AD4E;background:#FFFFFF;border:2px solid #F0AD4E}
.btn-bordered-warning:hover{color:#FFFFFF;background:#F0AD4E;border:2px solid #FFFFFF}

.btn-bordered-danger{color:#D9534F;background:#FFFFFF;border:2px solid #D9534F}
.btn-bordered-danger:hover{color:#FFFFFF;background:#D9534F;border:2px solid #FFFFFF}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown:hover .dropdown-toggle {
  background-color: #538e0d;
}

/** CALENDAR */
.responsive-calendar .controls {
  text-align: center;
}
.responsive-calendar .controls a {
  cursor: pointer;
}
.responsive-calendar .controls h4 {
  display: inline;
  font-size: 20px;
  letter-spacing: 0px;
}
.responsive-calendar .day-headers,
.responsive-calendar .days {
  font-size: 0;
}
.responsive-calendar .day {
  display: inline-block;
  position: relative;
  font-size: 14px;
  width: 14.285714285714286%;
  text-align: center;
}
.responsive-calendar .day a {
  color: #000000;
  display: block;
  cursor: pointer;
  padding: 20% 0 20% 0;
}
.responsive-calendar .day a:hover {
  background-color: #eee;
  text-decoration: none;
}
.responsive-calendar .day.header {
  border-bottom: 1px gray solid;
}
.responsive-calendar .day.active a {
  color: #ffffff;
}
.responsive-calendar .day.active a:hover {
  background-color: #68b211;
}
.responsive-calendar .day.active .not-current {
  background-color: #8fcaef;
  color: #ffffff;
}
.responsive-calendar .day.active .not-current:hover {
  background-color: #bcdff5;
}
.responsive-calendar .day.not-current a {
  color: #ddd;
}

.responsive-calendar .day.today a {
  color: black;
}
.responsive-calendar .today a {
  color: #00aaff;
  font-weight: bold;
}
.nav-month {
  background: none;
  color: #68b211;
  border-color: #68b211;
  padding: 5px;
  margin-top: -5px;
}
.nav-month:hover{
  color: white;
  background-color: #68b211;
  border-color: #68b211;
}

.responsive-calendar .day.active.calendar-stripes a{
  background: repeating-linear-gradient(
    45deg,
    #68b211,
    #68b211 10px,
    #00aaff 10px,
    #00aaff 20px
    );
}

.legend.legend-box {
  width: 30px;
  height: 32px;
}

.legend.active {
  background-color: #68b211;
  color: white;
}

.legend.stripes {
  background: repeating-linear-gradient(
    45deg,
    white,
    white 10px,
    #00aaff 10px,
    #00aaff 20px
    );
}

ul.text-list.information {
  border-left: 3px solid #68b211;
  padding-left: 20px;
}

.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

.label-switch {
  background-color: #68b211;
}

select.form-control {
  padding: 0;
}

/*TIMELINE*/
.timeline-centered {
  position: relative;
}

.timeline-centered:before, .timeline-centered:after {
  content: " ";
}

.timeline-centered:before {
  position: absolute;
  display: block;
  width: 2px;
  background: #ff00ff;/*timeline-color*/
  left: 15%;
  top: 20px;
  bottom: 20px;
  margin-left: -4px;
}

.timeline-centered .timeline-entry {
  margin-left: 15%;
  margin-bottom: 1em;
}

.triangle{
    width: 0px;
    height: 0px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #000000;
}

.timeline-centered .timeline-entry.left-aligned {
  float: left;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
  margin-left: 0;
  margin-right: -18px;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
  left: auto;
  right: -100px;
  text-align: left;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
  margin-left: 0;
  margin-right: 70px;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
  left: auto;
  right: 0;
  margin-left: 0;
  margin-right: -9px;
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.timeline-centered .timeline-entry .timeline-entry-inner {
  position: relative;
  margin-left: -22px;
}

.timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
  content: " ";
  display: table;
  clear: both;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
  position: absolute;
  left: -135px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 0 0 2px #ff00ff;/*timeline-color*/
  float: left;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon-triangle {
  background: #fff;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 34.6px 20px;
  border-color: transparent transparent #ff00ff /*timeline-color*/transparent;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-primary {
  background-color: #303641;
  color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-secondary {
  background-color: #ee4749;
  color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-success {
  background-color: white;
  color: #ff00ff;/*timeline-color*/
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-info {
  background-color: #21a9e1;
  color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-warning {
  background-color: #fad839;
  color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-danger {
  background-color: #cc2424;
  color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
  position: relative;
  padding: 1em 1.7em;
  margin-left: 60px;
  border-radius: 3px;
  border: 1px solid #ff00ff;/*timeline-color*/
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid;
  border-color: #ff00ff /*timeline-color*/transparent transparent #ff00ff;/*timeline-color*/
  left: 2px;
  top: 15px;
  margin-left: -7px;
  background-color: white;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
  margin-top: 15px;
}

.timeline-centered a {
  color: #ff00ff;
}

.timeline-centered a:hover {
  color: #990099;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
  opacity: .4;
}

.user-news {
  color: white;
  background-color: #ff00ff;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  box-shadow: 0 0 0 2px #ff00ff;/*timeline-color*/
  position: absolute;
  top: 5px;
  left: 5px;
}
.triangle {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 17px 29.4px 17px;
  border-color: transparent transparent white transparent;
}

/*Actualité files*/
.timeline-label .titre {
  margin-top: 1em;
  font-size: 17px;
  font-weight: bold;
}

.timeline-label img {
  margin-top: 1em;
}

.file {
  margin-top: 1em;
  display: inline-flex;
  float: none;
  text-align: center;
}

.msg-error {
  color: red;
}

.msg-error li {
  list-style: none;
}

.color {
    border: 1px solid black;
    max-width: 2em;
    height: 1em;
}
