{% extends 'base.html.twig' %}

{% block body %}
<header class="major">
	<h2>A propos</h2>
</header>

<div class="col-md-3 col-xs-offset-1">
	<div class="box">
		<div class="box-icon">
			<span class="fa fa-4x fa-code"></span>
		</div>
		<div class="info contact">
			<h4 class="text-center">Outils</h4>

			<p>
				<b>Bootstrap</b><br/>Le framework HTML/CSS de Twitter permettant de réaliser des sites Internet "responsive"<br/><br/>
				<b>Système de gestion de contenu</b><br/>Le site utilise le langage de programmation web "PHP", avec un système de gestion de contenu réalisé pour le site.
			</p>

		</div>
	</div>
</div>

<div class="col-md-3" id="box1">
	<div class="box">
		<div class="box-icon">
			<span class="fa fa-4x fa-user"></span>
		</div>
		<div class="info contact">
			<h4 class="text-center">Développeur</h4>

			<p>
				<b>Quentin GUILLOU</b><br/>Etudiant en Master Informatique<br/>Licencié au club de Quimper Orientation Coatarmor 29<br/><br/>
				<b>Autres projets</b><br/>Site Internet de la semaine fédérale de course d\'orientation 2016 en Bretagne<br/><br/>
			</p>

		</div>
	</div>
</div>

<div class="col-md-3" id="box1">
	<div class="box">
		<div class="box-icon">
			<span class="fa fa-4x fa-key"></span>
		</div>
		<div class="info contact">
			<h4 class="text-center">Confidentialité</h4>

			<p>
				<b>Données</b><br/>Les données que vous renseignez sont uniquement utilisées par le site et seulement pour vous offrir des fonctions supplémentaires.<br/><br/>
				<b>Cookies</b><br/>Uniquement pour mémorisé la connexion.
			</p>

		</div>
	</div>
</div>
{% endblock %}