{% extends 'base.html.twig' %}

{% block body %}

{% include 'alerts/alerts.form_validation.html.twig' %}

<div class="col-md-8">
  <h1>&Agrave; la une !</h1>
  <p class="lead">
    Retrouvez toute l'actualité de Quimper Orientation Coatarmor 29.
  </p>
  {% include 'lists/lists.news.html.twig' %}
</div>

<div class="col-md-1">
</div>


{% include 'user/calendar/calendar.html' %}

{% endblock %}

{% block stylesheets %}
{% endblock %}
