{% extends 'AdminBundle::form_default.html.twig' %}

{% block modal_title %}Édition d'une course{% endblock %}

{% block modal_body %}
<div class="row">
    <div class="form-group">
        {{ form_label(form.nom) }}
        <div class="col-sm-9">
            {{ form_widget(form.nom) }}
            {{ form_errors(form.nom) }}
        </div>
    </div>
</div>
{% endblock %}

{% block path_add %}"{{ path('course_add') }}"{% endblock %}
