<div class="form-group">
    <label for="{{ field.vars.id }}" class="required">Promouvoir en page d'accueil</label>
    {{ form_widget(field, {'attr': {'class': field.vars.errors|length > 0 ? 'form-control is-invalid' : 'form-control', 'autofocus': 'autofocus'}}) }}

    <div class="invalid-feedback">
        {{ form_errors(field) }}
    </div>
</div>
