<h2 class="bold" style="color:{{color}};">Comment s'y rendre ?</h2>
<p class="lead">Le plan d'accès vous montre le localisation du point d'accueil de l'événement.</p>
<i>Attention, la localisation peut-être approximative</i>

<div id="carte" class="carte"></div>

<script type="text/javascript">


</script>

<script type="text/javascript">
    function initMap() {
        var position = {lat: {{course.latitude}}, lng: {{course.longitude}}};
        var map = new google.maps.Map(document.getElementById('carte'), {
            zoom: 10,
            center: position,
            zoomControl: true,
            mapTypeControl: false,
            scaleControl: true,
            streetViewControl: false,
            rotateControl: true,
            fullscreenControl: false
        });
        var marker = new google.maps.Marker({
            position: position,
            map: map
        });
    }
</script>
<script type="text/javascript" async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAo-GqBI_QQmfW1oqWlqMeyFBnQEsV_22k&callback=initMap">
</script>
