{% extends '::base.html.twig' %}

{% block javascript %}
  {{ parent() }}

  <script type='text/javascript'>
    function unregister(id) {
        var url = "{{ path('course_unregister', {'id': 'id'}) }}";
        url = url.replace("id", id);

        $.ajax({
            url: url,
            success: function(result) {
                $("#inscription").html(result);
            }
        });
    }

    $(function(){
      $("form").submit(function(event){
        event.preventDefault();

        //Fermeture du modal
        $("#ModalQuickEntries").modal('hide');
        //Enregistrement des inscrits
        $.ajax({
          url: "{{ path('course_register', {'id': course.id}) }}",
          type: 'POST',
          data: $(this).serialize(),
          success: function(result) {
            $("#inscription").html(result);
          }
        });
      });
    });
  </script>
{% endblock %}

{% block title %}
    {% include '::Navbar/title.html.twig' with {'title': course.nom, 'subtitle': "subtitle.course" | trans } %}
{% endblock %}

{% block content %}

<!-- On récupére la couleur d'affichage de la course !-->
{% set color = 'black' %}
{% if course.type and course.type.color and course.type.color != '' %}
{% set color = course.type.color %}
{% endif %}
<div class="course">
    <div class="col-md-4">
      {% include 'CalendarBundle:Course:partials/informations.html.twig' %}
    </div>


    <div class="col-md-1">
    </div>

    <div class="col-md-7">

      <div class="row">
        {% include 'CalendarBundle:Course:partials/files.html.twig' %}
      </div>

      <div class="row-divider"></div>

      <div id="inscription" class="row">
        {% include 'CalendarBundle:Course:partials/inscrits.html.twig' %}
      </div>

      <div class="row-divider"></div>

      <div class="row">
          {% if course.latitude and course.longitude %}
          {% include 'CalendarBundle:Course:partials/carte.html.twig' %}
          {% endif %}
      </div>
    </div>

    {% include 'CalendarBundle:Course:forms/inscription.html.twig' %}
</div>

{% endblock %}
