{% extends 'base.html.twig' %}

{% block body %}

{% if app.user != null %}
{% else %}
<div class="alert alert-dismissible alert-warning">
	<button type="button" class="close" data-dismiss="alert">×</button>
	<strong>Information - Connexion </strong>
	<b> Vous êtes actuellement déconnecté.</b>
	<br> Vous ne pouvez pas bénificier de toutes les options du site.
	<br>Pensez à vous inscrire avec le bouton 'S'identifier', et suivre les instructions du formulaire, ou s'identifier si vous possédez déjà un compte.
</div>
{% endif %}

<div class="col-md-8">
	<h1>Inscription en ligne</h1>

	<table>
		<tr>
			<td><i class="fa fa-4x fa-user"></i></td>
			<td style="padding-left: 1em;">
				<p>
					Le système d'inscription en ligne permet aux utilisateurs enregistrés ou non de s'inscrire aux courses proposées, simplement et rapidement, en vous proposant des options pour vous permettre d'optimiser les fonctions du site.
				</p>
			</td>
		</tr>
		<tr>
			<td><i class="fa fa-4x fa-key"></i></td>
			<td style="padding-left: 1em;">
				<p>
					Le site vous permet d'effectuer vos inscriptions de façon sécurisées pour les personnes enregistrées. Ainsi, vous vous assurez que personne d'autre que vous ou un administrateur ne peut modifier vos inscriptions.
				</p>
			</td>
		</tr>
		<tr>
			<td><i class="fa fa-4x fa-hourglass-end"></i></td>
			<td style="padding-left: 1em;">
				<p>
					Les administrateurs peuvent paramètrer une date limite d'inscription, pour empêcher des inscriptions au delàs de cette date. Ainsi, il est inutile de consulter le fichier d'inscription quelques heures avant l'évènement.
				</p>
			</td>
		</tr>
		<tr>
			<td><i class="fa fa-4x fa-bell"></i></td>
			<td style="padding-left: 1em;">
				<p>
					Le système dispose d'un dispositif de notification, permettant de vous signaler par e-mail lors d'une inscription à votre nom n'est pas compléte (Exemple: il manque le circuit).
				</p>
			</td>
		</tr>
	</table>
</div>

<div class="col-md-1">
</div>

<div class="col-md-3">

</div>

{% endblock %}

{% block stylesheets %}
{% endblock %}
