{% extends 'base.html.twig' %}

{% block body %}
<div class="col-md-12">
  <div class="row">
    <h1>Modification de ses inscription</h1>
    <p class="lead">
      Vous pouvez ici modifier toutes les inscriptions que vous avez pu faire, sur les courses à venir.
    </p>
    {% include 'forms/forms.inscrits_user_update.html.twig' %}
  </div>
</div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
