{% extends 'base.html.twig' %}

{% block body %}
<div class="col-md-12">
  <div class="row">
    <h1>Récupération des inscrits</h1>
    <p class="lead">
      Le site vous permet de générer automatiquement les listes des inscrits pour différents formats (PDF, OE2010, OE2003, ...).
    </p>

    

  </div>
</div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
