Bonjour {{ user.firstName ?? user.email}},

Vous avez demandé de réinitialiser votre mot de passe.
Pour le réinitialiser, veuillez accéder au lien suivant <a href="{{ path('app_reset', {'token': user.token}) }}">Modifier mon mot de passe</a>

Si vous n'êtes pas l'auteur de cette demande, vous pouvez l'ignorer.


L'équipe du {{ app_name }}
