{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block content_body %}
    <div class="row py-4">
        <div class="col-12 col-lg-10 offset-lg-1">
            {% block admin_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
