{% extends 'base.html.twig' %}

{% block body %}
    <div class="row py-4">
        <div class="col-12 col-md-10 offset-md-1">
            {% block admin_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
