<nav class="navbar navbar-expand-xl navbar-dark bg-primary">
    <a class="navbar-brand" href="">
        {{ app_name }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar-header">
        <ul class="navbar-nav mr-auto">

        </ul>
        <!-- Informations sur le compte utilisateur ou connexion -->
        {% if app.user %}
            <ul class="navbar-nav mr-auto d-lg-none">
                <li class="dropdown-divider"></li>
                <li class="nav-item"><a href="" class="nav-link">Mon espace personnel</a></li>
                {% if is_granted('ROLE_WEBMASTER') %}
                    <li class="nav-item"><a href="" class="nav-link">Administration</a></li>
                {% endif %}
                <li class="nav-item"><a href="" class="nav-link">Se déconnecter</a></li>
            </ul>
            <ul class="navbar-nav ml-auto nav-flex-icons d-none d-lg-block">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" id="dropdown-user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="dropdown-user">
                        <div class="col-lg-12">
                            <span class="text-primary h1">{{ app.user.username|slice(0,1)|capitalize }}</span><span class="h3">{{ app.user.username|slice(1,app.user.username|length) }}</span>
                        </div>
                        <div class="dropdown-divider"></div>
                        <div class="col-lg-12">
                            <span class="text-italic">{{ app.user.email }}</span>
                        </div>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="">
                            <i class="fa fa-user-circle mr-2 text-primary" aria-hidden="true"></i>
                            Mon espace personnel
                        </a>
                        {% if is_granted('ROLE_WEBMASTER') %}
                            <a class="dropdown-item" href="">
                                <i class="fa fa-cog mr-2 text-primary" aria-hidden="true"></i>
                                Administration
                            </a>
                        {% endif %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="">
                            <i class="fa fa-sign-out-alt mr-2 text-primary" aria-hidden="true"></i>
                            Se déconnecter
                        </a>
                    </div>
                </li>
            </ul>
        {% else %}
            <ul class="navbar-nav mr-auto d-lg-none">
                <li class="dropdown-divider"></li>
                <li class="nav-item"><a href="" class="nav-link">Se connecter</a></li>
                <li class="nav-item"><a href="" class="nav-link">S'inscrire</a></li>
            </ul>
            <ul class="navbar-nav ml-auto nav-flex-icons d-none d-lg-block">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" id="dropdown-user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="dropdown-user">
                        <a class="dropdown-item" href="">
                            <i class="fa fa-sign-in-alt mr-2 text-primary" aria-hidden="true"></i>
                            Se connecter
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="">
                            <i class="fa fa-user-plus mr-2 text-primary" aria-hidden="true"></i>
                            S'inscrire
                        </a>
                    </div>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>
