<footer class="bg-dark text-white border-top border-primary p-4">
	<div class="row">
		<div class="col-12 col-lg-10 offset-lg-1">
			<div class="text-center text-white">
				<p><a href="{{ path('app_homepage') }}" class="text-underline">{{ app_name }}</a> est un club de course d'orientation affilié à la Fédération Française de Course d'Orientation.</p>
				<p class="h6">&copy Tous droits réservés</p>
			</div>
            <div class="text-center text-white">
				<p><i>Version 0.2.0 - Mars 2020</i></p>
			</div>
		</div>
	</div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="prefers-color-scheme" name="prefers-color-scheme">
        <label class="form-check-label" for="prefers-color-scheme">Thème sombre</label>
    </div>
</footer>
