{% extends 'base.html.twig' %}

{% block body %}
<div class="col-md-9">
  <h1>Le calendrier</h1>
  <p class="lead">
    Consultez les évenements à venir, et trouvez toutes les informations importantes.
  </p>
  {% include 'lists/lists.events.html.twig' %}

</div>

{% include 'user/calendar/calendar.html' %}
{% endblock %}

{% block stylesheets %}
{% endblock %}
