{% extends 'base.html.twig' %}

{% block body %}
<!-- On récupére la couleur d'affichage de la course !-->
{% set color = 'black' %}
{% if course.type != null and course.type.color != null and course.type.color != '' %}
{% set color = course.type.color %}
{% endif %}

<div class="col-md-12">
  <h1 style="color:{{color}}; font-weight:bold">{{course.nom}}</h1>
  <p class="lead">
    Retrouvez toutes les informations sur cet événement sur cette page.
  </p>
</div>

{% include 'user/calendar/course_informations.html.twig' %}

<div class="col-md-1">
</div>

<div class="col-md-7">
  {% include 'user/calendar/course_files.html.twig' %}

  {% include 'user/calendar/course_inscription.html.twig' %}

  <div class="row-divider"></div>

  <div class="row">
    <h2>Comment s'y rendre ?</h2>
    <p class="lead">Le plan d'accès vous montre le localisation du point d'accueil de l'événement.</p>
  </div>
</div>

{% if is_past(course.modification | date("Y-m-d H:i:s")) == false %}
{% include 'modals/modal.quick_entries.html.twig' %}
{% endif %}
{% endblock %}
