{% if course.inscription %}
<div class="row-divider"></div>

<div class="row">
  <h2>Les inscrits</h2>
  <p class="lead">Ils sont déjà inscrits à cette course.</p>
  {% include 'alerts/alerts.form_validation.html.twig' %}

  {% if form.vars.errors is not empty %}
  <div class="alert alert-dismissible alert-danger">
    L'inscription n'a pas pu être effectuée. Vérifiez les valeurs que vous avez saisies.<br/>
    Peut-être que vous êtes déjà inscrit sur cette course ?
    {{ form_errors(form) }}
  </div>
  {% endif %}

  {% include 'lists/lists.inscrits_course.html.twig' %}

  {% if is_past(course.modification | date("Y-m-d H:i:s")) == false %}
  {% if app.user != null %}
  <button data-toggle="modal"
          data-target="#ModalQuickEntries"
          class="btn btn-square-toround btn-bordered-success">
    <span class="fa fa-user-plus"></span> Inscription rapide
  </button>
  {% endif %}
  <a href="/inscription/inscrire" class="btn btn-square-toround btn-bordered-success"><span class="fa fa-user-plus"></span> S'inscrire</a>
  {% if app.user != null %}
  <a href="/inscription/modification" class="btn btn-square-toround btn-bordered-primary"><span class="fa fa-pencil-square-o"></span> Modifier ses inscriptions</a>
  {% endif %}
  {% endif %}
</div>
{% endif %}
