<div class="timeline-centered">
  <article class="timeline-entry begin hidden-phone">
    <div class="timeline-entry-inner">
      <div class="timeline-icon" style="background: white;">
        <div class="circle">
        </div>
      </div>
    </div>
  </article>

  <article class="timeline-entry">
    <div class="timeline-entry-inner">
      <time class="timeline-time hidden-phone">
        <h4>22 Décembre</h4>
        <h5>Aujourd'hui</h5>
      </time>
      <div class="timeline-icon bg-success hidden-phone">
        <i class="entypo-feather"></i>
        <span class="fa fa-newspaper-o" style="line-height:2.6"></span>
      </div>
      <div class="timeline-label">
        <h2 class="nopadding nomargintop">Mise à jour du site<span> - posté par Quentin</span></h2>
        <p class="lead">
          Encore une fois, le site vient d'être mis à jour afin de vous proposer quelques nouvelles options pour vous simplifier son utilisation.
          <br/>
          Il est désormais possible, pour les personnes ayant un compte de s'inscrire depuis le calendrier !
          <br/>
          Avec une page consacrée à chaque course regroupant toutes les informations utiles à propos d'un événement.
        </p>

        <h3>Fichiers joints</h3>
        <div class="col-md-2 file">
          <a target="_BLANK" href="files/actualites/146/Invitation formation animateur.pdf">
            <i class="fa fa-3x fa-file-pdf-o"></i>
            <br>
            Invitation formation animateur
          </a>
        </div>
        <div class="col-md-2 file">
          <a target="_BLANK" href="files/actualites/146/Invitation formation contrôleur.pdf">
            <i class="fa fa-3x fa-file-pdf-o"></i>
            <br>Invitation formation contrôleur
          </a>
        </div>
        <div class="col-md-2 file">
          <a target="_BLANK" href="files/actualites/146/Invitation formation corps arbitral.pdf">
            <i class="fa fa-3x fa-file-pdf-o"></i>
            <br>
            Invitation formation corps arbitral
          </a>
        </div>

        <h3>Images jointes</h3>
        <div class="img-responsive"><img src="files/actualites/1.jpg"></div>
      </div>
    </div>
  </article>

  <article class="timeline-entry">
    <div class="timeline-entry-inner">
      <time class="timeline-time hidden-phone">
        <h4>01 NOVEMBRE</h4>
        <h5>Il y a 51 jours</h5>
      </time>
      <div class="timeline-icon bg-success hidden-phone">
        <i class="entypo-feather"></i>
        <span class="fa fa-newspaper-o" style="line-height:2.6"></span>
      </div>
      <div class="timeline-label">
        <h2 class="nopadding nomargintop">Formations<span> - posté par Administrateur</span></h2>
        <p>ci joint le programme des formations 2016.2017.</p>
      </div>
    </div>
  </article>

  <article class="timeline-entry after hidden-phone">
    <div class="timeline-entry-inner">
      <div class="timeline-icon-triangle">
        <div class="triangle">
        </div>
      </div>
    </div>
  </article>
</div>
