{% extends 'base.html.twig' %}

{% block body %}
{% include 'user/session/information.html' %}

<div class="col-md-7">
  <div class="row">
    <h2>S'inscrire sur le site</h2>
    <p class="lead">Vous n'avez pas encore de compte, et vous souhaitez en créer un ?</p>
    {% include 'forms/forms.user.html.twig' %}
  </div>

  <div class="row-divider">
  </div>

  <div class="row">
    <h2>Se connecter sur le site</h2>
    <p class="lead">Vous avez déjà un compte, identifiez-vous !</p>
    <div class="row">
      <a href="/login" class="btn btn-primary">Ouvrir la page d'identification</a>
    </div>
  </div>

</div>
{% endblock %}
