{% extends 'base_admin.html.twig' %}

{% block body %}
<div class="col-md-12">
  <h1>Administration des utilisateurs</h1>
</div>
<div class="col-md-3">
  <div class="list-group">
    {% for c in courses %}
    <a href="/admin/inscription/modification/{{c.id}}/" class="list-group-item {% if form.vars.data.id == c.id %}active{% endif %}">
      {{c.nom}}
    </a>
    {% endfor %}
  </div>
</div>

<div class="col-md-1">
</div>

{% if form.vars.data.id %}
<div class="col-md-8">
  <div class="row">
    {% include 'alerts/alerts.form_validation.html.twig' %}
    <h2>Liste des inscrits</h2>
    <p class="lead">Vous pouvez supprimer, ou modifier une inscription.</p>

    {% include 'forms/forms.inscrits_course_update.html.twig' %}
  </div>
</div>
{% else %}
<div class="col-md-6">
  <div class="row">
    <h2>Aucune course sélectionné</h2>
    <p class="lead">Vous n'avez pas sélectionné de course dans la liste ci-contre.</p>
  </div>
</div>
{% endif %}
{% endblock %}

{% block stylesheets %}
{% endblock %}
