{% extends '::base.html.twig' %}

{% block content %}

<h1>Rejoindre le club</h1>
<h2>Les documents</h2>
<p class="lead">
	Pour rejoindre le Quimper Orientation, vous devez apporter les informations suivantes.
</p>
<ul class="text-list">
	<li>
		<b>La feuille d'adhésion remplie</b>
		<a href="{{ asset('files/club/adhesion.xlsx') }}">Télécharger</a>
	</li>

	<li>
		<b>Un certificat médical</b> avec la mention importante de "non-contre-indication à la pratique sportive de la Course d'Orientation en compétition" et date de validité inférieure à 1 an <i>si licence compétition</i>
	</li>

	<li>
		<b>Un chèque</b> à l'ordre du Quimper Orientation
	</li>
</ul>

<h2>Les tarifs des licences</h2>
<p class="lead">
	La tarification ci-dessous est donnée à titre d'information, des évolutions peuvent être effectuées.
</p>
<div class="col-md-5">
	<table class="table table-striped table-hover table-tarif">
		<thead>
			<tr>
				<th></th>
				<th>Type de licence</th>
				<th>Prix</th>
			</tr>
		</thead>
		<tbody>
			{% for licence in licences %}
			<tr>
				<td></td>
				<td>{{licence.getNom()}}</td>
				<td>{{licence.getPrix()}}€</td>
			</tr>
    	{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
