{% extends 'AdminBundle::table_default.html.twig' %}

{% block line_content %}
<td>  </td>
<td> {{ entity.course.nom }} </td>
<td> {{ entity.prenom }} {{ entity.nom }} </td>
<td> {{ entity.dateModification | format_datetime('dd MMMM YYYY', 'fr', 'Europe/Paris') }} </td>
{% endblock %}
